*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}


body{
    background-color: rgba(22,22,24,255);
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
}

.logo{
    width: 100px;
    cursor: pointer;
    padding-left: 15px;
}

.background-feature img{
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    position: absolute;
}


.rectangle{
    position: absolute;
    width: 35vw;
	height: 100vh;
	background-color:rgba(22,22,24,255) ;
    right: 0;
}


nav{
    background-color:rgba(22,22,24,255);
    display: flex;
    width: 100vw;
    align-items: center;
    padding: 5px 0;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 15px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 30px;
}

nav ul li a{
    color:rgb(246, 247, 249);
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform:  translateX(-50%);
    background: rgb(246, 247, 249);
    transition: width 0.35s;
}

nav ul li a:hover::after{
    width: 65%;
}

.contact-title{
    color:rgb(246, 247, 249);
    position: absolute;
    top: 15% ;
    right: 3%;
}

.contact-title h1{
    font-size: 75px;
    font-weight: 300;
    -webkit-text-stroke: 1px rgb(246, 247, 249);
    color: transparent;
}

.contact-title h1::before{
    content: "CONTACT ME";
    position: absolute;
    color: rgb(246, 247, 249);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 1.0s;
}

.contact-title h1:hover::before{
    width: 100%;
}

.contact-text{
    font-size: 23px;
    line-height: 150%;
    position: absolute;
    top: 35% ;
    right: -13%;
    color: rgb(246, 247, 249) ;
    width: 40vw;

}

.contact-text a{
    text-decoration: underline;
    color: rgb(246, 247, 249) ;
}

.contact-photo{
    top: 34%;
    right: 30%;
    position: absolute;
    line-height: 440%;
    color:rgba(22,22,24,255);
}

.contact-photo img{
    height: 35px;
}